{% extends 'bookstore/index.html'%}
{% block content %}
    <form method="get">
        {{ search_book_form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if has_author_param %}
        <a href="/books">
            All books
        </a>
    {% endif %}

    {% for book in books %}
        <div>
            <h1>
                <a href="/{{book.id}}">{{book.title}}</a> ({{book.published_at}})
            </h1>
            <p>{{book.description|slice:":150"}}</p>
        </div>
    {% endfor %}
{% endblock content %}