<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if is_auth %}
    <form method="post" action="/logout">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <div>
        <a href="/login" >
            <button type="submit">Login</button>
        </a>
    </div>

    <div>
        <a href="/register" >
            <button type="submit">Register</button>
        </a>
    </div>
{% endif %}

{% block content %}
{% endblock content %}
</body>
</html>